#foot-section {
  display: flex;
  width: 35%;
  margin: 50px auto;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}

.star-img {
  width: 10px;
}

#trust-pilot-btn {
  color: black;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  border: none;
}

#footer-btn {
  display: block;
  text-align: center;
  margin: auto;
  color: black;
  background-color: white;
  padding: 5px 7px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
}
